*{
  margin: 0;
  background-color: dimgrey;
}
body {
  padding: 0;
  color: red;
}

.grid{
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  background-color: black;
  height: 80vh;
  margin-top: 3rem;
  .item{
    width: 33.2%;
    height: 24%;
    cursor: pointer;
    background-color: red;
    border: 1px solid black;
    .visible{
      visibility: hidden;
    }
  }
}
@media (max-width:760px){
  .gird{
    width: 100%;
    margin:0;
  }
};